body {
    background-color: #E7DFD8;
    padding-top: 50px;
}
.container {
    border-style: double;
    border-width: medium;
    border-radius: 5px;
    padding: 35px 48px;
    padding: 30px 30px;
    display: flex;
}
content p, h1, h2 {
    color: black;
    text-align: center;
}
.container h2, h3, a {
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 30px 30px;
}
.socials h2 {
    text-align: left;
    font-size: 15px;
}
p {
 text-align: center;
}

@media (min-width=600) {
.socials {
    display: none;
}
}
.container bio-paragraph {
    text-align: center;
}
.col-6 img {
    border-radius: 5px;
    display: flex;
    width: 600px;
    
}
em {
    font-weight: lighter;
    font-size: 20ox;
}
