body {
    background-color: #E7DFD8;
    padding-top: 50px;
}
.container {
    border-style: double;
    border-width: medium;
    border-radius: 5px;
    padding: 35px 48px;
    padding: 30px 30px
}
content p, h1, h2 {
    color: black;
    text-align: center;
}
.container h2 {
    font-size: 18px;
}
.socials h2 {
    text-align: left;
    font-size: 15px;
}
p {
 text-align: center;
}
.bio-content a :hover{
    color: black;
    text-align: center;
}
@media (min-width=600) {
.socials {
    display: none;
}

}
.container bio-paragraph {
    text-align: center;
}
a .button {
    text-align: center;
}
.containter-content
{
    background-color:lightgray;
    background-image: url("loveself.png");
    width: 100%;
    
}
.bio-content p,h1 {
    padding-top: 20px;
    margin-bottom: 3px;
    display: block;
}
.project-link{
    text-align: right;
}