body {
    background-color: #E7DFD8;
    padding-top: 50px;
}
.container {
    border-style: double;
    border-width: medium;
    border-radius: 5px;
    padding: 35px 48px;
}
.container p {
    text-align: left;
    color: black;
}
h2 {
    font-size: 15px;
}
p {
 text-align: center;
}
img {
   padding-right: 15px;
}